node-red/index.json
[
  {
    "id": "00862d0857036eb4",
    "type": "tab",
    "label": "Flow 6",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "aa51a4743f678389",
    "type": "http request",
    "z": "00862d0857036eb4",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 370,
    "y": 180,
    "wires": [["f10723b2b1761c12"]]
  },
  {
    "id": "2092094620457548",
    "type": "inject",
    "z": "00862d0857036eb4",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 180,
    "wires": [["aa51a4743f678389"]]
  },
  {
    "id": "f10723b2b1761c12",
    "type": "debug",
    "z": "00862d0857036eb4",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 750,
    "y": 180,
    "wires": []
  }
]
